.testimonials{
    display: flex;
    justify-content: space-around;
    background-color:yellow ;
    padding: 15px 30px;

}
.testimonials > *{
    width: 75px;
    height: 75px;
    margin: 10px;
    background-color:green;

}